{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}

<style>
tr:nth-child(even) {background-color: #f2f2f2;}
tr:nth-child(odd) {background-color: #ffffff;}
</style>


<table class="academics">
    <thead>
        <th>Academics</th>
    </thead>
    <tbody>
        <!--"item.php?id=1"-->
        <tr><td><a href="/forums/cognitivescience">Cognitive Science</a></td></tr>
        <tr><td><a href="/forums/computerscience">Computer Science</a></td></tr>
        <tr><td><a href="/forums/economics">Economics</a></td></tr>
        <tr><td><a href="/forums/engineering">Engineering</a></td></tr>
        <tr><td><a href="/forums/epe">Ethics, Politics, & Economics</a></td></tr>
        <tr><td><a href="/forums/engineering">Engineering</a></td></tr>
        <tr><td><a href="/forums/foreignlanguages">Foreign Languages</a></td></tr>
        <tr><td><a href="/forums/globalaffairs">Global Affairs</a></td></tr>
        <tr><td><a href="/forums/history">History</a></td></tr>
        <tr><td><a href="/forums/lifesciences">Life Sciences</a></td></tr>
        <tr><td><a href="/forums/physicalsciences">Physical Sciences</a></td></tr>
        <tr><td><a href="/forums/politicalscience">Political Science</a></td></tr>
        <tr><td><a href="/forums/psychology">Psychology</a></td></tr>
    </tbody>
</table>


<table class="athletics">
    <thead>
        <th>Athletics</th>
    </thead>
    <tbody>
        <tr><td><a href="/forums/baseball">Baseball</a></td></tr>
        <tr><td><a href="/forums/basketball">Basketball</a></td></tr>
        <tr><td><a href="/forums/crew">Crew</a></td></tr>
        <tr><td><a href="/forums/crosscountry">Cross Country</a></td></tr>
        <tr><td><a href="/forums/football">Football</a></td></tr>
        <tr><td><a href="/forums/lacrosse">Lacrosse</a></td></tr>
        <tr><td><a href="/forums/soccer">Soccer</a></td></tr>
        <tr><td><a href="/forums/softball">Softball</a></td></tr>
        <tr><td><a href="/forums/squash">Squash</a></td></tr>
        <tr><td><a href="/forums/swimmingdiving">Swimming and Diving</a></td></tr>
        <tr><td><a href="/forums/tennis">Tennis</a></td></tr>
        <tr><td><a href="/forums/trackfield">Track and Field</a></td></tr>
        <tr><td><a href="/forums/volleyball">Volleyball</a></td></tr>
    </tbody>
</table>


<table class="rc">
    <thead>
        <th>Residential College</th>
    </thead>
    <tbody>
        <tr><td><a href="/forums/benjaminfranklin"><img style= width="10%" height="10%" src="https://benjaminfranklin.yalecollege.yale.edu/sites/default/files/images/Official.PNG"/> Benjamin Franklin</a></td></tr>
        <tr><td><a href="/forums/berkeley"><img style= width="10%" height="10%" src="https://upload.wikimedia.org/wikipedia/en/1/13/Berkeleyshield.png"/> Berkeley</a></td></tr>
        <tr><td><a href="/forums/branford"><img style= width="10%" height="10%" src="https://upload.wikimedia.org/wikipedia/en/3/30/Branford_College_shield.png"/> Branford</a></td></tr>
        <tr><td><a href="/forums/davenport"><img style= width="4%" height="4%" src="https://davenport.yalecollege.yale.edu/sites/default/files/images/Davenport%20shield.jpg"/> Davenport</a></td></tr>
        <tr><td><a href="/forums/ezrastiles"><img style= width="10%" height="10%" src="https://upload.wikimedia.org/wikipedia/en/b/b7/EzraStilesshield.png"/> Ezra Stiles</a></td></tr>
        <tr><td><a href="/forums/gracehopper"><img style= width="8%" height="8%" src="http://gracehopper.yalecollege.yale.edu/sites/default/files/resize/images/Hopper_Corum_final1-500x500.png"/> Grace Hopper</a></td></tr>
        <tr><td><a href="/forums/jonathanedwards"><img style= width="11%" height="11%" src="https://upload.wikimedia.org/wikipedia/en/4/4e/JonathanEdwardsshield.png"/> Jonathan Edwards</a></td></tr>
        <tr><td><a href="/forums/morse"><img style= width="20%" height="20%" src="https://upload.wikimedia.org/wikipedia/en/thumb/7/7b/Morseshield.png/150px-Morseshield.png"/> Morse</a></td></tr>
        <tr><td><a href="/forums/paulimurray"><img style= width="8%" height="8%" src="https://paulimurray.yalecollege.yale.edu/sites/default/files/resize/images/MY%20Shield-400x454.png"/> Pauli Murray</a></td></tr>
        <tr><td><a href="/forums/pierson"><img style= width="10%" height="10%" src="https://upload.wikimedia.org/wikipedia/en/d/da/Piersonshield.png"/> Pierson</a></td></tr>
        <tr><td><a href="/forums/saybrook"><img style= width="10%" height="10%" src="https://upload.wikimedia.org/wikipedia/en/2/2c/Saybrook_shield.png"/> Saybrook</a></td></tr>
        <tr><td><a href="/forums/silliman"><img style= width="22%" height="22%" src="https://silliman.yalecollege.yale.edu/sites/default/files/resize/images/silliman_color-200x200.jpg"/> Silliman</a></td></tr>
        <tr><td><a href="/forums/timothydwight"><img style= width="11%" height="11%" src="https://upload.wikimedia.org/wikipedia/en/5/53/Timothy_Dwight_shield.png"/> Timothy Dwight</a></td></tr>
        <tr><td><a href="/forums/trumbull"><img style= width="20%" height="20%" src="https://www.firstgiving.com/imaging/profile/934a72f5-f003-4506-8eaa-de3895c5f865.gif"/> Trumbull</a></td></tr>
    </tbody>
</table>


<table class="marketplace">
    <thead>
        <th>Marketplace</th>
    </thead>
    <tbody>
        <tr><td><a href="/forums/appliances">Applicances</a></td></tr>
        <tr><td><a href="/forums/borrow">Borrow</a></td></tr>
        <tr><td><a href="/forums/electronics">Electronics</a></td></tr>
        <tr><td><a href="/forums/free">Free</a></td></tr>
        <tr><td><a href="/forums/furniture">Furniture</a></td></tr>
        <tr><td><a href="/forums/instruments">Instruments</a></td></tr>
        <tr><td><a href="/forums/miscellaneous">Miscellaneous</a></td></tr>
        <tr><td><a href="/forums/tickets">Tickets</a></td></tr>
        <tr><td><a href="/forums/textbooks">Textbooks</a></td></tr>
        <tr><td><a href="/forums/wanted">Wanted</a></td></tr>
    </tbody>
</table>

<table class="professional">
    <thead>
        <th>Professional</th>
    </thead>
    <tbody>
        <tr><td><a href="/forums/career">Career</a></td></tr>
        <tr><td><a href="/forums/graduateschool">Graduate School</a></td></tr>
        <tr><td><a href="/forums/internships">Internships</a></td></tr>
        <tr><td><a href="/forums/studyabroad">Study Abroad</a></td></tr>
    </tbody>
</table>

<div><img src="https://i.pinimg.com/originals/52/27/02/5227023b71fd9d36e3f12c08139f16fc.png" alt="YaleY" style="width:300px;height:360px;margin-top:75px;margin-bottom:0px;margin-right:0px;margin-left:30px;float:right;float:down;"></div>

{% endblock %}
