{% extends "layout.html" %}

{% block title %}
    User Profile
{% endblock %}

{% block main %}

    {% for user in users %}
    <div><img src="/static/upload/{{ user.image }}" style="width:300px;height:360px;"></div>
        <br><b>Name:</b> {{ user.firstname }}, {{ user.lastname }}</br>
        <br><b>University:</b> {{ user.university }}</br>
        <br><b>Graduation Year:</b> {{ user.graduation }}</br>
        <br><b>Major:</b> {{ user.major }}</br>
        <br><b>Email:</b> {{ user.email }}</br>
        <a href="/userposts/{{ user.id }}"><b>See This User's Threads</b></a>
    {% endfor %}

{% endblock %}